* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 10px;
}

/*! header */
header {
  margin: 0 auto;
  height: 100vh;
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  background-image: url("../img/headerphoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", arial, sans-serif;
}

header .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 55%;
  left: 0;
  z-index: 1;
  padding: 2vh 5vw 2vh 0;
  background-color: #ACA18C;
  height: 20vh;
  width: 47vw;
  color: #F0EDE1;
}

header h1 {
  font-weight: 100;
  padding-left: 2vw;
  font-size: 7vh;
  border-bottom: 1px solid #F0EDE1;
  padding-bottom: 0.5vh;
}

header h2 {
  font-weight: 100;
  padding-left: 2vw;
  font-size: 4.5vh;
  padding-top: 1vh;
}

/*! media queries for header */
@media (orientation: portrait) and (max-width: 1024px) {
  header {
    background-image: url("../img/headerphoto-tel.jpg");
  }
  header .welcome {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    padding: 0;
    top: 62%;
    height: 15vh;
    width: 100%;
    text-align: center;
  }
  header h1 {
    font-size: 6em;
  }
  header h2 {
    font-size: 3.5em;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  header .welcome {
    padding: 2.5%;
  }
  header h1 {
    font-size: 3em;
  }
  header h2 {
    font-size: 2em;
  }
}

@media (orientation: landscape) and (max-width: 1416px) {
  header .welcome {
    width: 65%;
  }
  header .welcome h1 {
    font-size: 5.5em;
  }
  header .welcome h2 {
    font-size: 3.5em;
  }
}

/*! nav */
nav {
  display: block;
  position: absolute;
  top: 93%;
  left: 90%;
  width: 7vw;
  background-color: #ACA18C;
  z-index: 1;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  list-style: none;
}

nav ul a {
  display: block;
  line-height: 65px;
  color: #F0EDE1;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
  font-size: 1.7vh;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul a:hover {
  color: #ACA18C;
  background-color: #F0EDE1;
}

nav ul a i.start {
  line-height: 65px;
  font-size: 3.5em;
}

nav ul li:nth-of-type(1) a {
  height: 65px;
}

nav.scrolling {
  position: fixed;
  top: 10%;
  left: 90%;
}

nav.mobile {
  display: none;
  z-index: 2;
  position: fixed;
  top: 2%;
  left: 7%;
  background-color: transparent;
}

nav.mobile .menu-mobile {
  font-size: 3em;
  color: #47474A;
  cursor: pointer;
}

nav.mobile .menu-mobile.show {
  color: #F0EDE1;
}

aside {
  z-index: 1;
  position: absolute;
  left: -70vw;
  top: 0;
  padding: 10vh 7vw;
  width: 70vw;
  height: 100vh;
  background-color: #ACA18C;
  -webkit-transition: .5s;
  transition: .5s;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  list-style: none;
}

aside ul a {
  display: block;
  line-height: 65px;
  color: #F0EDE1;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: .4s;
  transition: .4s;
}

aside ul a i {
  width: 40px;
  border-right: solid #F0EDE1 2px;
  margin-right: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

/*! media queries for nav */
@media (max-width: 1200px) {
  nav {
    width: 10vw;
    left: 85%;
  }
  nav ul a {
    line-height: 95px;
  }
  nav ul a i.start {
    line-height: 95px;
  }
  nav ul li:nth-of-type(1) a {
    height: 95px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  nav {
    width: 15vw;
    left: 80%;
  }
}

@media (max-width: 832px) {
  nav {
    display: none;
  }
  nav.mobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  nav.mobile {
    left: 3%;
  }
  nav.mobile .menu-mobile {
    font-size: 4em;
    color: #ACA18C;
  }
  aside {
    padding: 15vh 7vw;
    left: -50vw;
    width: 50vw;
  }
  aside ul a {
    line-height: 100px;
    font-size: 3.3vh;
  }
  aside ul a i {
    width: 70px;
  }
}

@media (orientation: landscape) {
  nav.mobile {
    left: 3%;
  }
  nav.mobile .menu-mobile {
    color: #ACA18C;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  nav {
    width: 10vw;
    left: 85%;
  }
  nav ul a {
    line-height: 55px;
  }
  nav ul a i.start {
    line-height: 55px;
  }
  nav ul li:nth-of-type(1) a {
    height: 55px;
  }
}

section.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  max-width: 60vw;
  margin: 6vh auto 6vh auto;
}

section.profil h1.title1 {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 4.8em;
  font-weight: 400;
  color: #ACA18C;
}

section.profil h1.title1::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  margin: 0 auto;
  border-bottom: 2px solid #ACA18C;
}

section.profil div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: 2%;
}

section.profil .img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

section.profil .img img {
  width: 50%;
  border: 14px solid #ACA18C;
  border-radius: 50%;
  margin: 7%;
  margin-left: 15%;
}

section.profil .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 47%;
}

section.profil .about p {
  font-size: 1.8em;
  font-weight: 300;
  color: #ACA18C;
  text-align: justify;
  margin-top: 10px;
}

section.profil .about button {
  max-width: 70%;
  background-color: #ACA18C;
  margin-top: 10%;
  border: none;
  border-radius: 1000px;
  -webkit-transition: .3s;
  transition: .3s;
}

section.profil .about button a {
  text-decoration: none;
  font-size: 2.4em;
  line-height: 5vh;
  font-weight: 300;
  color: #F0EDE1;
  font-family: "Montserrat", arial, sans-serif;
  padding: 0 5vw;
}

section.profil .about button a:hover {
  color: #ACA18C;
}

section.profil .about button:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  -webkit-box-shadow: inset 0 0 0 2px #ACA18C;
          box-shadow: inset 0 0 0 2px #ACA18C;
  background-color: transparent;
  color: #ACA18C;
}

div.section-wrap {
  width: 100%;
  background-color: #F1F0E7;
}

div.section-wrap .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 3.5vh;
  padding-top: 3.5vh;
}

div.section-wrap .skills h1.title1 {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 4.8em;
  font-weight: 400;
  color: #ACA18C;
}

div.section-wrap .skills h1.title1::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  margin: 0 auto;
  border-bottom: 2px solid #ACA18C;
}

div.section-wrap .skills .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3vh auto;
  text-align: center;
  max-width: 47vw;
}

div.section-wrap .skills .wrap:nth-of-type(2) {
  max-width: 45vw;
}

div.section-wrap .skills .skillMain {
  width: 33%;
  color: #567393;
  text-align: center;
}

div.section-wrap .skills .skillMain i {
  font-size: 18em;
}

div.section-wrap .skills .skillMain:nth-of-type(3) i {
  line-height: 233px;
}

div.section-wrap .skills h3.title {
  text-align: center;
  color: #567393;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
}

div.section-wrap .skills .image {
  width: 33%;
  margin: 1vh auto;
}

div.section-wrap .skills .image img {
  width: 30%;
}

div.section-wrap .skills .image:nth-of-type(7), div.section-wrap .skills .image:nth-of-type(8) {
  width: 40%;
}

section.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 63vw;
  text-align: center;
  margin: 10vh auto;
}

section.projects .project {
  width: 33%;
  margin-top: 6vh;
}

section.projects .project h3 {
  margin-bottom: 3vh;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  text-transform: uppercase;
  color: #ACA18C;
}

section.projects .project p {
  padding: 0 2vw 0 2vw;
  font-size: 1.6em;
  font-weight: 300;
  color: #ACA18C;
}

section.projects .project img {
  width: 70%;
  margin-bottom: 4vh;
  -webkit-transition: .3s;
  transition: .3s;
}

section.projects .project img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

section.projects h1.title1 {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 4.8em;
  font-weight: 400;
  color: #ACA18C;
}

section.projects h1.title1::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  margin: 0 auto;
  border-bottom: 2px solid #ACA18C;
}

section.hobby {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  color: #F0EDE1;
}

section.hobby h1.hobbyTitle {
  line-height: 8vh;
  font-size: 4.8em;
  font-weight: 400;
  color: #F0EDE1;
  background-color: #ACA18C;
}

section.hobby .wrapHobby {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  width: 100%;
}

section.hobby .wrapHobby .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: .7s;
  transition: .7s;
}

section.hobby .wrapHobby .item:hover {
  background-size: 130%;
}

section.hobby .wrapHobby .item:nth-of-type(1) {
  background-image: url("../img/hobby1-b.jpg");
}

section.hobby .wrapHobby .item:nth-of-type(2) {
  background-image: url("../img/hobby2.jpg");
}

section.hobby .wrapHobby .item:nth-of-type(3) {
  background-image: url("../img/hobby3.jpg");
}

section.hobby .wrapHobby .item:nth-of-type(4) {
  background-image: url("../img/hobby-plants3.jpg");
}

section.hobby .wrapHobby .item p {
  text-align: center;
  line-height: 41vh;
  font-size: 4em;
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 0;
}

section.hobby .wrapHobby .item p:hover {
  opacity: 1;
  background-color: rgba(86, 115, 147, 0.7);
}

section.contact {
  background-color: #47474A;
  max-width: 1920px;
  padding-bottom: 1vh;
}

section.contact h1.title1 {
  padding-top: 3vh;
  position: relative;
  text-align: center;
  line-height: 80px;
  font-size: 4.8em;
  font-weight: 400;
  color: #F0EDE1;
}

section.contact h1.title1::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 35%;
  margin: 0 auto;
  border-bottom: 2px solid #F0EDE1;
}

section.contact .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 60%;
  margin: 5vh auto;
}

section.contact .wrap form {
  margin: 0 auto;
  width: 40%;
}

section.contact .wrap form input, section.contact .wrap form textarea {
  width: 85%;
  margin-bottom: 2vh;
  color: #47474A;
  font-size: 1.5em;
  padding: 1vw;
  font-family: "Open Sans", arial, sans-serif;
  background-color: #F1F0E7;
  border: 1px solid black;
}

section.contact .wrap form input {
  height: 5vh;
}

section.contact .wrap form textarea {
  height: 23vh;
}

section.contact .wrap form button {
  border: none;
  border-radius: 1000px;
  background-color: #ACA18C;
  color: #F0EDE1;
  font-family: "Montserrat", arial, sans-serif;
  line-height: 5vh;
  font-size: 2.4em;
  text-transform: uppercase;
  padding: 0;
  width: 85%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.contact .wrap form button:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  -webkit-box-shadow: inset 0 0 0 2px #F0EDE1;
          box-shadow: inset 0 0 0 2px #F0EDE1;
  background-color: transparent;
  cursor: pointer;
}

section.contact .wrap .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 40%;
  text-align: left;
  color: #F0EDE1;
  font-size: 2.2em;
  line-height: 71px;
}

section.contact .wrap .socials i {
  font-size: 1.5em;
}

section.contact .wrap .socials a, section.contact .wrap .socials span {
  padding-left: 1.4vw;
  color: #F0EDE1;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section.contact .wrap .socials a:hover, section.contact .wrap .socials span:hover {
  color: #ACA18C;
}

footer {
  background-color: #47474A;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  color: #F0EDE1;
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 20px;
}

footer h3 {
  font-size: 1.8em;
  font-weight: 300;
}

footer p {
  font-size: 1.2em;
}

footer a {
  color: #ACA18C;
  text-decoration: none;
}

footer a:hover {
  color: #F0EDE1;
}
/*# sourceMappingURL=style.css.map */