section.profil
    +flexbox(row, wrap, 1)
    position: relative
    max-width: 60vw
    margin: 6vh auto 6vh auto
    & h1.title1
        +h1-title1()
        &::after
            +h1-title1-underscore()
    & div
        flex-basis: 50%
        margin-top: 2%
    & .img
        order: 1
        & img
            width: 50%
            border: 14px solid $medium-beige
            border-radius: 50%
            margin: 7%
            margin-left: 15%
    & .about
        +flexbox(column, wrap, 0)
        max-width: 47%
        & p
            font-size: 1.8em
            font-weight: 300
            color: $medium-beige
            text-align: justify
            margin-top: 10px
        & button
            max-width: 60%
            background-color: $medium-beige
            margin-top: 10%
            border: none
            border-radius: 1000px
            transition: .3s
            & a
                text-decoration: none
                font-size: 2.4em
                line-height: 5vh
                font-weight: 300
                color: $light-beige
                font-family: $montserrat-font
                padding: 0 5vw
                &:hover
                    color: $medium-beige
            &:hover
                transform: scale(1.075)
                box-shadow: inset 0 0 0 2px $medium-beige
                background-color: transparent
                color: $medium-beige
