section.profile
    +flexbox(row, wrap, 1)
    position: relative
    max-width: 60vw
    margin: 6vh auto 6vh auto
    & h1.title1
        +h1-title1()
        &::after
            +h1-title1-underscore()
    & div
        flex-basis: 50%
        margin-top: 2%
    & .img
        order: 1
        & img
            width: 50%
            border: 14px solid $medium-beige
            border-radius: 50%
            margin: 7%
            margin-left: 15%
    & .about
        +flexbox(column, wrap, 0)
        max-width: 47%
        & p
            font-size: 1.8em
            font-weight: 300
            color: $medium-beige
            text-align: justify
            margin-top: 10px
        & button
            max-width: 100%
            background-color: $medium-beige
            margin-top: 10%
            border: none
            border-radius: 1000px
            transition: .3s
            & a
                text-decoration: none
                font-size: 2.4em
                line-height: 5vh
                font-weight: 300
                color: $light-beige
                font-family: $montserrat-font
                padding: 0 5vw
                &:hover
                    color: $medium-beige
            &:hover
                transform: scale(1.075)
                box-shadow: inset 0 0 0 2px $medium-beige
                background-color: transparent
                color: $medium-beige

@media (orientation: portrait) and (max-width: 1024px)
    section.profile
        +flexbox(column, wrap, 1)
        max-width: 80vw
        margin: 6vh 0
        & .img
            +flexbox(row, nowrap, 0)
            justify-content: center
            order: 0
            & img
                width: 50%
                margin: 6% 0 5% 0
        & .about
            max-width: 80%
            margin: 0 auto
            & p
                font-size: 2.8em
            & button
                min-width: 80%
                margin: 8% auto
        & h1.title1::after
            +h1-title1-underscore-media()

@media (orientation: portrait) and (max-width: 768px)
    section.profile
        max-width: 100vw
        margin: 6vh auto 6vh auto
        & .img img
            width: 40%
        & .about p
            font-size: 2em
        & h1.title1
            font-size: 3.5em
            align-self: center
            &::after
            +h1-title1-underscore-media()

@media (orientation: portrait) and (max-width: 414px)
    section.profile
        & .img img
            width: 60%
        & .about
            max-width: 90%
            margin: 0 auto
            & p
                font-size: 1.6em
            & button a
                font-size: 1.7em

@media (orientation: landscape) and (max-width: 1024px)
    section.profile
        +flexbox(column, wrap, 1)
        max-width: 80vw
        margin: 6vh 0
        & .img
            +flexbox(row, nowrap, 0)
            justify-content: center
            order: 0
            & img
                margin: 6% 0 5% 0
        & .about
            max-width: 80%
            margin: 0 auto
            & p
                font-size: 2.5em
            & button
                min-width: 70%
                margin: 8% auto
        & h1.title1::after
            +h1-title1-underscore-media()

@media (orientation: landscape) and (max-width: 832px)
    section.profile
        max-width: 100vw
        & .img img
            width: 40%
        & .about p
            font-size: 2em
        & .about button a
            font-size: 2em
            line-height: 10vh
        & h1.title1
            font-size: 3em
            & h1.title1::after
                +h1-title1-underscore-media()
