section.contact
    background-color: $dark-beige
    max-width: 1920px
    padding-bottom: 1vh
    & h1.title1
        padding-top: 3vh
        position: relative
        +text-center()
        line-height: 80px
        font-size: 4.8em
        font-weight: 400
        color: $light-beige
        &::after
            content: ""
            +position-absolute(absolute, 98%, 50%)
            transform: translateX(-50%)
            width: 35%
            +page-center()
            border-bottom: 1px solid $light-beige
    & .wrap
        +flexbox(row, wrap, 0)
        max-width: 60%
        margin: 5vh auto
        & form
            +page-center()
            width: 40%
            & input, textarea
                width: 85%
                margin-bottom: 2vh
                color: $dark-beige
                font-size: 1.5em
                padding: 1vw
                font-family: $open-sans-font
                background-color: $extra-light-beige
                border: 1px solid black
            & input
                height: 5vh
            & textarea
                height: 23vh
            & button
                border: none
                border-radius: 1000px
                background-color: $medium-beige
                color: $light-beige
                font-family: $montserrat-font
                line-height: 5vh
                font-size: 2.4em
                text-transform: uppercase
                padding: 0
                width: 85%
                transition: 0.4s
                &:hover
                    transform: scale(1.075)
                    box-shadow: inset 0 0 0 2px $light-beige
                    background-color: transparent
                    cursor: pointer
        & .socials
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-content: flex-end
            width: 40%
            text-align: left
            color: $light-beige
            font-size: 2.2em
            line-height: 71px
            & i
                font-size: 1.5em
            & a, span
                padding-left: 1.4vw
                color: $light-beige
                text-decoration: none
                transition: 0.3s
                &:hover
                    color: $medium-beige

@media (max-width: 1366px)
    section.contact
        & .wrap
            max-width: 90%

@media (orientation: portrait) and (max-width: 768px)
    section.contact
        & h1.title1
            font-size: 3.5em
            &::after
                +h1-title1-underscore-media()
        & .wrap
            +flexbox(column, wrap, 0)
            max-width: 100%
            margin: 5vh auto
            & form
                order: 1
                width: 80%
                margin-top: 5vh
                +flexbox(column, wrap, 0)
                & input, textarea
                    margin-bottom: 2vh
                & input
                    height: 5vh
                & textarea
                    height: 25vh
                & button
                    line-height: 5vh
                    &:hover
                        transform: none
            & .socials
                order: 0
                width: 35%
                margin: 0 auto
                font-size: 2em
                line-height: 45px
                & .social
                    +flexbox(row, wrap, 0)
                    justify-content: stretch
                & i
                    line-height: 1.5
                    font-size: 2em
                & a:hover
                    color: $light-beige

@media (orientation: portrait) and (max-width: 414px)
    section.contact
        & .wrap
            & form
                & button
                    font-size: 2em
            & .socials
                width: 65%
                font-size: 1.5em
                & i
                    line-height: 2
                    font-size: 1.5em
                    padding-right: 1vh

@media (orientation: landscape) and (max-width: 832px)
    section.contact
        & h1.title1
            font-size: 3em
            &::after
                +h1-title1-underscore-media()
        & .wrap
            +flexbox(column, wrap, 0)
            max-width: 90%
            margin: 5vh auto
            & form
                order: 1
                width: 70%
                margin-top: 5vh
                +flexbox(column, wrap, 0)
                & input, textarea
                    margin-bottom: 4vh
                & input
                    height: 10vh
                & textarea
                    height: 35vh
                & button
                    line-height: 8vh
                    font-size: 2.4em
                    &:hover
                        transform: none
            & .socials
                order: 0
                width: 50%
                margin: 0 auto
                font-size: 1.7em
                line-height: 45px
                & .social
                    +flexbox(row, wrap, 0)
                    justify-content: stretch
                & i
                    line-height: 1.5
                    font-size: 1.7em
                & a:hover
                    color: $light-beige
