=every-object()
    padding: 0
    margin: 0
    box-sizing: border-box

=page-center()
    margin: 0 auto

=text-center()
    text-align: center

=header-titles()
    font-weight: 100
    padding-left: 2vw

=position-absolute($item1, $posY, $posX)
    position: $item1
    top: $posY
    left: $posX

=flexbox($position, $wrap, $grow)
    display: flex
    flex-direction: $position
    justify-content: space-between
    align-content: center
    flex-wrap: $wrap
    flex-grow: $grow

=h1-title1()
    position: relative
    flex-basis: 100%
    +text-center()
    line-height: 70px
    font-size: 4.8em
    font-weight: 400
    color: $medium-beige

=h1-title1-underscore()
    content: ""
    +position-absolute(absolute, 98%, 50%)
    transform: translateX(-50%)
    width: 30%
    +page-center()
    border-bottom: 1px solid $medium-beige

=h1-title1-underscore-media()
    width: 80%

=menu-content-desktop()
    & ul
        +flexbox(column, nowrap, 0)
        list-style: none
        & a
            display: block
            line-height: 65px
            color: $light-beige
            text-decoration: none
            padding: 0 10px
            +text-center()
            font-size: 1.7vh
            font-weight: 400
            letter-spacing: 1px
            transition: .4s
            &:hover
                color: $medium-beige
                background-color: $light-beige
            & i.start
                line-height: 65px
                font-size: 3.5em
        & li:nth-of-type(1) a
            height: 65px

=menu-content-mobile()
    & ul
        +flexbox(column, nowrap, 0)
        list-style: none
        & a
            display: block
            line-height: 65px
            color: $light-beige
            text-decoration: none
            font-size: 3vh
            font-weight: 400
            letter-spacing: 1px
            transition: .4s
            & i
                width: 40px
                border-right: solid $light-beige 2px
                margin-right: 20px
                transition: .3s
