nav
    +position-absolute(absolute, 93%, 90%)
    width: 7vw
    background-color: $medium-beige
    z-index: 1
    & ul
        +flexbox(column, no-wrap, 0)
        list-style: none
        & a
            display: block
            line-height: 65px
            color: $light-beige
            text-decoration: none
            padding: 0 10px
            +text-center()
            font-size: 1.7vh
            font-weight: 400
            letter-spacing: 1px
            transition: .4s
            &:hover
                color: $medium-beige
                background-color: $light-beige
            & i.start
                line-height: 65px
                font-size: 3.5em
        & li:nth-of-type(1) a
            height: 65px
nav.scrolling
    +position-absolute(fixed, 10%, 90%)
