/*! nav */
div.wrapper-nav
    width: 100%
    height: 100vh
    position: absolute
    & nav
        display: block
        +position-absolute(absolute, -6.8%, 90%)
        width: 7vw
        background-color: $medium-beige
        z-index: 1
        +menu-content-desktop()
        transition: 1s
        & ul li:nth-of-type(1) a.show
            transform: rotate(180deg)
        &.scrolling
            +position-absolute(fixed, 0, 90%)
        & ul li.active a
            background-color: $light-beige
            color: $medium-beige
            &:hover
                background-color: $medium-beige
                color: $light-beige

nav.mobile
    display: none
    z-index: 2
    +position-absolute(fixed, 2%, 7%)
    background-color: transparent
    & .menu-mobile
        font-size: 3em
        color: $dark-beige
        cursor: pointer
        &.show
            color: $light-beige

aside
    z-index: 1
    position: absolute
    left: -70vw
    top: 0
    padding: 10vh 7vw
    width: 70vw
    height: 100vh
    background-color: $medium-beige
    transition: .5s
    +menu-content-mobile()
    &.show
        left: 0

/*! media queries for nav */
@media (max-width: 1200px)
    div.wrapper-nav
        nav
            width: 10vw
            left: 85%
            & ul a
                line-height: 95px
                & i.start
                    line-height: 95px
            & ul li:nth-of-type(1) a
                height: 95px

@media (orientation: portrait) and (max-width: 1024px)
    div.wrapper-nav
        nav
            width: 15vw
            left: 80%

@media (max-width: 832px)
    div.wrapper-nav
        nav
            display: none
        &.scrolling
            display: none
    nav.mobile
        display: block

@media (min-width: 768px) and (max-width: 768px)
    nav.mobile
        left: 3%
        & .menu-mobile
            font-size: 4em
            color: $medium-beige
    aside
        padding: 15vh 7vw
        left: -50vw
        width: 50vw
        & ul a
            line-height: 100px
            font-size: 3.3vh
            & i
                width: 70px

@media (orientation: landscape)
    nav.mobile
        left: 3%
        & .menu-mobile
            color: $medium-beige

@media (orientation: landscape) and (max-width: 1024px)
    div.wrapper-nav
        nav
            width: 10vw
            left: 85%
            & ul a
                line-height: 55px
                & i.start
                    line-height: 55px
            & ul li:nth-of-type(1) a
                height: 55px
