div.section-wrap
    width: 100%
    background-color: $extra-light-beige
    & .skills
        +flexbox(row)
        flex-wrap: wrap
        flex-grow: 1
        position: relative
        max-width: 72%
        +page-center()
        margin-bottom: 3.5vh
        padding-top: 3.5vh
        & h1.title1
            +h1-title1()
            &::after
                +h1-title1-underscore()
        & .wrap
            +flexbox(row)
            flex-wrap: wrap
            flex-grow: 1
            margin: 3vh auto
            +text-center()
            max-width: 56vw
            &:nth-child(3)
                max-width: 50vw
                margin-bottom: 0
        & .skillMain
            width: 33%
            color: $faded-blue
            +text-center()
            & i
                font-size: 18em
            &:nth-of-type(3) i
                line-height: 233px
        & h3.title
            +text-center()
            color: $faded-blue
            font-size: 2.4em
            font-weight: 700
            text-transform: uppercase
        & .image
            width: 33%
            & img
                width: 30%
                margin-bottom: 1vh
            &:last-child
                width: 50%
                margin: 0 auto
