* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    /* ustalić ogólny rozmiar czcionki i reszta rem */
}

/* sekcja: header */
header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('../img/headerphoto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', arial, sans-serif;
}

header .welcome {
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 0;
    padding: 1vh 5vw 2vh 0;
    background-color: #ACA18C;
    height: 20vh;
    width: 47vw;
    text-align: left;
    color: #F0EDDC;
}

header h1,
h2 {
    font-weight: 100;
    padding-left: 2vw;
}

header h1 {
    font-size: 75px;
    border-bottom: 1px solid #F0EDDC;
    padding-bottom: 0.5vh;
}

header h2 {
    font-size: 45px;
    padding-top: 1vh;
}

/* sekcja menu */
nav {
    position: absolute;
    bottom: -2%;
    width: 100%;
    background-color: #ACA18C;
    padding-left: 16%;
    margin-bottom: 50px;
    margin-top: 20px;
}

nav .menu {
    list-style: none;
    max-width: 1920px;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #F0EDDC;
    text-decoration: none;
    padding: 0 40px;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    border-right: 1px solid #F0EDDC;
}

.menu li:nth-child(6) a {
    border-style: none;
}

.menu li i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: 0px;
}

.menu li a:hover {
    color: #fff;
}

/* sekcja o mnie */

section.profil {
    position: relative;
    max-width: 63vw;
    min-height: 54vh;
    margin: 70px auto 0 auto;
}

h1.title1 {
    text-align: center;
    margin-left: 37%;
    width: 25%;
    padding-bottom: 1vh;
    border-bottom: 2px solid #ACA18C;
    color: #ACA18C;
    font-size: 48px;
    font-weight: 400;
}

.profil div {
    position: absolute;
    top: 20%;
}

.profil .img {
    left: 58%;
}

.profil .img img {
    width: 60%;
    border: 14px solid #ACA18C;
    border-radius: 50%;
}

.profil .about {
    left: 5%;
    max-width: 47%;
}

.about p {
    font-size: 18px;
    font-weight: 300;
    color: #ACA18C;
    text-align: justify;
}

.about button {
    background-color: #ACA18C;
    margin-top: 80px;
    margin-left: 316px;
    border: none;
    border-radius: 1000px;
    transition: 0.3s;
}

.about button a {
    text-decoration: none;
    font-size: 32px;
    line-height: 46px;
    font-weight: 300;
    color: #F0EDDC;
    font-family: 'Montserrat', arial, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}

.about button:hover {
    transform: scale(1.075);
    box-shadow: inset 0 0 0 2px #ACA18C;
    background: none;
    color: #ACA18C;
}

.about button a:hover {
    color: #ACA18C;
}

/* sekcja umiejętności */

section.skills {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 34px;
    padding-top: 55px;
    background-color: #F1F0E7;
}

.wrap {
    margin: 40px auto;
    text-align: center;
    max-width: 63vw;
}

.skills .skillMain {
    float: left;
    width: 33%;
}

h3.title {
    text-align: center;
    color: #567393;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.skillMain i {
    text-align: center;
    color: #567393;
    font-size: 180px;
}

.skillMain:nth-of-type(3) i {
    line-height: 233px;
}

.skills h2 {
    padding: 0;
    padding-bottom: 1vh;
    margin-left: 42%;
    border-bottom: 1px solid #ACA18C;
    width: 16%;
    text-align: center;
    color: #ACA18C;
    font-size: 36px;
    font-weight: 300;
}

.wrap:nth-child(4) {
    max-width: 58vw;
}

.skills .image {
    float: left;
    width: 33%;
}

.skills .image img {
    width: 29%;
    margin-bottom: 27px;
}

/* sekcja projekty */

section.projects {
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 100px;
    max-width: 63vw;
    text-align: center;
}

.projects .project {
    float: left;
    width: 33%;
    margin-top: 70px;
}

.projects h3 {
    margin-bottom: 20px;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #ACA18C;
}

.project p {
    padding: 0 30px 0 30px;
    font-size: 16px;
    font-weight: 300;
    color: #ACA18C;
}

.project img {
    width: 70%;
    margin-bottom: 50px;
    transition: 0.3s;
}

.project img:hover {
    transform: scale(1.075);
}

/* sekcja hobby */

section.hobby {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    color: #F0EDDC;
}

.hobby h1.hobbyTitle {
    background-color: #ACA18C;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 70px;
}

.hobby .wrapHobby {
    margin: 0 auto;
}

.hobby .item {
    float: left;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    transition: 0.7s;
}

.hobby .item:nth-of-type(1) {
    background-image: url('../img/hobby1-b.jpg');
}

.hobby .item:nth-of-type(2) {
    background-image: url('../img/hobby2.jpg');
}

.hobby .item:nth-of-type(3) {
    background-image: url('../img/hobby3.jpg');
}

.hobby .item:nth-of-type(4) {
    background-image: url('../img/hobby-plants3.jpg');
}

.item p {
    text-align: center;
    line-height: 32vh;
    font-size: 36px;
    transition: 0.7s;
    opacity: 0;
}

.hobby .item:hover {
    background-size: 130%;
}

.hobby .item p:hover {
    opacity: 1;
    background-color: rgba(86, 115, 147, 0.7);
}

/* sekcja kontakt */

section.contact {
    background-color: #47474A;
    max-width: 1920px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.contact .wrap {
    max-width: 63vw;
    margin-left: 45vh;
}

.contact .title1:nth-of-type(1) {
    padding-top: 55px;
    margin-left: 31%;
    width: 34%;
    color: #F0EDDC;
}

.contact form,
.socials {
    float: left;
    width: 50%;
}

.contact input,
textarea {
    width: 70%;
    margin-bottom: 20px;
    color: #47474A;
    font-size: 15px;
    padding: 10px 10px;
    font-family: 'Open Sans', arial, sans-serif;
}


.contact input {
    height: 45px;
}

.contact textarea {
    height: 220px;
}

.contact button {
    border: none;
    border-radius: 1000px;
    background-color: #ACA18C;
    color: #F0EDDC;
    font-family: 'Montserrat', arial, sans-serif;
    line-height: 45px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0;
    width: 70%;
    transition: 0.3s;
}

.contact button:hover {
    transform: scale(1.075);
    box-shadow: inset 0 0 0 2px #F0EDDC;
    background: none;
    color: #F0EDDC;
    cursor: pointer;
}

.contact .socials {
    text-align: left;
    color: #F0EDDC;
    font-size: 27px;
    line-height: 71px;
}

.contact .social i {
    float: left;
    font-size: 38px;
    line-height: 71px;
}

.contact .social span {
    padding-left: 25px;
}

/* footer  */

footer {}