* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Montserrat', arial, sans-serif;
    /* ustalić ogólny rozmiar czcionki i reszta rem */
}

/* sekcja: header */
header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('../img/headerphoto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .welcome {
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 0;
    padding: 1vh 5vw 2vh 0;
    background-color: #ACA18C;
    height: 20vh;
    width: 47vw;
    text-align: left;
    color: #F0EDDC;
}

header h1,
h2 {
    font-weight: 100;
    padding-left: 2vw;
}

header h1 {
    font-size: 75px;
    border-bottom: 1px solid #F0EDDC;
    padding-bottom: 0.5vh;
}

header h2 {
    font-size: 45px;
    padding-top: 1vh;
}

/* sekcja menu */
nav {
    position: absolute;
    bottom: -2%;
    width: 100%;
    background-color: #ACA18C;
    padding-left: 16%;
    margin-bottom: 50px;
    margin-top: 20px;
}

nav .menu {
    list-style: none;
    max-width: 1920px;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #F0EDDC;
    text-decoration: none;
    padding: 0 40px;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    border-right: 1px solid #F0EDDC;
}

.menu li:nth-child(6) a {
    border-style: none;
}

.menu li i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: 0px;
}

.menu li a:hover {
    color: #fff;
}

/* sekcja o mnie */

section.profil {
    position: relative;
    max-width: 70vw;
    min-height: 70vh;
    margin: 0 auto;
}

.profil div {
    position: absolute;
    top: 4%;
}

.profil .img img {
    width: 80%;
    border: 5px solid #ACA18C;
    padding: 10px;
}

.profil .about {
    left: 39%;
    max-width: 65%;
}

.about p {
    font-size: 26px;
    font-weight: 400;
    color: #ACA18C;
    text-align: justify;
}

.about button {
    border: 3px solid #ACA18C;
    background-color: transparent;
    margin-top: 100px;
}

.about button a {
    text-decoration: none;
    font-size: 46px;
    color: #ACA18C;
    font-weight: 300;
    font-family: 'Montserrat', arial, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}

.about button a:hover {
    background-color: #ACA18C;
    color: #F0EDDC;
}

/* sekcja umiejętności */

section.skills {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 34px;
    /* background-color: #F0EDDC; */
}

h1.title1 {
    text-align: center;
    margin: 0 37vw;
    padding: 0;
    padding-bottom: 2vh;
    font-family: 'Montserrat', arial, sans-serif;
    color: #ACA18C;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #ACA18C;
}

.skills .wrap {
    margin: 30px auto;
    text-align: center;
}

.skills .skillMain {
    float: left;
    width: 33%;
}

h3.title {
    text-align: center;
    font-family: 'Montserrat', arial, sans-serif;
    color: #567393;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.skillMain i {
    text-align: center;
    color: #567393;
    font-size: 220px;
}

.skillMain:nth-of-type(3) i {
    line-height: 252px;
}

.skills h2 {
    text-align: center;
    color: #ACA18C;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 35px;
}

.wrap:nth-child(4) {
    max-width: 70vw;
}

.skills .image {
    float: left;
    width: 33%;
}

.skills .image img {
    width: 30%;
}

/* sekcja projekty */

section.projects {}

/* sekcja hobby */

section.hobby {}

/* sekcja kontakt */

section.contact {}

/* footer  */

footer {}